/* Put your custom styles here and run `npm start` from the "src" directory on */

.payoff {
	background: rgb(91,130,164);
background: linear-gradient(180deg, rgba(91,130,164,1) 35%, rgba(136,174,192,1) 100%);
color:white;
padding:2%;
}
.supported {
background: rgb(235,235,235);
background: linear-gradient(180deg, rgba(235,235,235,1) 0%, rgba(255,255,255,1) 33%);
color:#1b6485;
padding:2%;
}
.supported span {
	display:block;
	text-align: center;
	font-size:80%;	
}

.payoff span {
	display:block;
	text-align: center;
	font-weight: bold;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

.workshop-overview {
	display: flex; 
	box-sizing: 
	border-box; 
	flex-wrap: wrap; 
	width:104%; 
	margin-left:-2%;
}

.workshop-post {
	display:flex; 
	padding:2%; 
	box-sizing: 
	border-box; 
	width: 50%;
}
.workshop-highlights .pa4 {
	padding:2rem;
}

.news-highlights .pa3 {
	padding:0;
}

.news-overview {
	margin-top:0;
	padding-top:0;
}

.darkblue {
color: #1b6485;	
}

.bg-white {
background: rgb(133,166,181);
background: linear-gradient(180deg, rgba(133,166,181,0.2007177871148459) 0%, rgba(237,237,237,1) 69%, rgba(255,255,255,1) 100%);
}

.newsimg {
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2); 
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);	
	margin-top:8px;
}

.bg-white {
	min-height:220px;
}

.bg-near-white {
	background-color: #fff;
}

.dark-gray, .mid-gray, .gray {
	color:#000;
}

.posts-top {
	
}

.site-header .mr3 {
	line-height: 30px;
}

.active {
	border-bottom:3px solid white;
}

.image-left {
	width:35%; 
	margin-right:3%; 
	margin-bottom:1%; 
	margin-top:25px; 
	box-shadow: 0 0 12px 1px rgba(0,0,0,.2);
}

.announcements-overview .image-left {
	margin-top:10px;
}

.announcements-overview h2 {
	padding-bottom:30px;
}

hr {
	border-color: #90adbe;
	border-width: 0.5px;
	opacity: 0.5;
	margin:0;
}
.team-img {
	height:150px;
	width:150px;
	border-radius: 75px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}
.team-text-70 {
	float:left;
	width:calc(90% - 150px);
}
.team-text-70 h2, .team-text-70 h4 {
	padding:0;
	margin:0 0 7px 0;
}
.team-img img {
	width:100%;
}

.workshops-img {
	width:220px;
	margin-bottom:15px;
	overflow:hidden;
	float:left;
	margin-right:20px;
}

iframe {
	border:none;
	border-width: 0px;
}
.workshops-text {	
	width:100%;
}
.workshops-img img {
	width:100%;
}

.workshops-posts {
	display:none !important;
	flex: 1 1 30%; /*grow | shrink | basis */
	flex-wrap: wrap;
	justify-content: space-between;	
}

.display-flex {
	display:flex !important;
}

.display-inline {
	display:inline-block !important;
}

.workshops-text p {
	display:inline-block !important;
	margin-top:0px;
	width:100%;
}

.display-none {
	display:none !important;	
}

.post-overview {
	max-width:1400px;
	margin:0 auto;
}
.team-overview {
	display:flex;
  justify-content: flex-start;
  flex-wrap: wrap;  
}
.resources-overview {
	display:flex;
 flex-direction: row;
 flex-wrap: wrap;	
}
.resources-columns {
display: flex;
  align-items: center;
  justify-content: center;
}
.resource-column {
 display:flex;
 padding:0 0 0 2%;
 align-items: flex-start;
 min-width:25%;
 overflow:hidden;
}
.resource-column:first-child {
	padding-left:0;
}

.team-post {
	max-width: 50%;
}
.resources-post {
 flex-basis: 33%;
}
.site-header {
	min-height:450px;
}
.active-button {
	font-weight: bold;
}
.workshops-button-overview {
	width:100%;
	height:50px;
	display:flex;
  align-items: center;
  justify-content: center;		
}
.resources-button-overview {
	width:100%;
	height:50px;
	display:flex;
  align-items: center;
  justify-content: center;	
}

.workshops-button {
	width:200px;
padding:10px 20px;
cursor:pointer;
text-align: center;
}

.resources-button {
	width:200px;
padding:10px 20px;
cursor:pointer;
text-align: center;
}

.workshops-text h4 {
	padding:0;
	margin:0 0 10px 0;
}
.workshops-text h2 {
	padding:0;
	margin:0 0 15px 0;
}

.workshops-summary {
	display:inline;
	width:100%;
}

.workshops-content {
	display:none;
}	

.readmore-button {
	cursor:pointer;
}

.team-subtitle {
	width:100%;
	text-align: center;
	color:#144d92;
}
.resources-posts {
}

.small-date {
	position: absolute;
	margin-top:-40px;
}

.pa4 {
padding:2rem 0 2rem 0;
}

.workshops-posts .pa4 {
	width:690px;
}

.resources-posts .pa4 { 
	width:100%;	
}

.w-70-ns {
		width:100%;
		margin: 0 auto;
		width:85%;
}
.pb7 {
	padding-bottom:0;
}
.logobox {
	padding-right:5%;
}
.bg-top {
    background-position: center;	
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	.pb7, 	.pv5 {
		padding:0;
	}
	.team-overview {
		display:inline;
	}
	.team-post {
		width:100%;
		max-width:100%;
	}
	
	.logohome {
		display:none;
	}
	.logonav {
		width:50%;
		margin-left:25%;
	}
	.workshop-overview {
		display: inline;
		box-sizing: border-box; 
		flex-wrap: wrap; 
		width:104%; 
		margin-left:-2%;
	}
	
	.workshop-post {
		display:inline; 
		padding:2%; 
		box-sizing: border-box; 
		height: 300px; 
		width: 50%;
	}
	.pa3 {
		padding:0;
	}
	
	.w-70-ns {
		width:95% !important;
	}
	.bg-top {
		background-image: url(https://dawnofman.nl/ICoMSE-mobile.jpg) !important;
		height:200px;
	}
	.workshops-img {
		width:100%;
	}
	iframe {
		width:100%;
	}
	.our-materials-posts {
		width:100%;
	}
	.resources-columns {
		display:inline;
	}
}